*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;

}

body {
  background-size: 100px 100px;
  background-image:
    linear-gradient(to right, #E1E8FF 2px, transparent 1px),
    linear-gradient(to bottom, #E1E8FF 2px, transparent 1px);
    cursor: url('Images2/Cursor2.png'), auto;
  
}

body:active {
	cursor: url('Images2/Cursor2.png'), auto;
}

body:hover {
	cursor: url('Images2/Cursor2.png'), auto;
}

.custom-cursor {
	position: absolute;
	top: 0;
	left: 0;
	
	z-index: 2;

}

.site-wide {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #4378FF;
}
.site-wide .pointer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color:  #4378FF ;
	transition: width 0.1s ease-in-out, height 0.1s ease-in-out;

}

.site-wide.active .pointer {
	width: 20px;
	height: 20px;
}

.container{
	width: 100%;
	min-height: 50vh;
	display: flex;
	align-items: top;
	justify-content: center;
	padding: 50px 8%;

}

.logo{
	width: 100%;
	min-height: 100px;
	display: flex;
	align-items: top;
	justify-content: center;
	padding: 50px 8%;

}


.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
	margin-bottom: 20px;
}

.fgallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	grid-gap: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.buttons {
	margin-top: 25px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
	padding-bottom: 50px;
}

.buttons a {
	display: block;
	font-family: "loos-normal", sans-serif;
	font-weight: 700;
}

.homepage {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
}

.homepage p {
	font-size: 20px;
	padding-top: 50px;
	font-family: "poppins", sans-serif;
	font-weight: 400;

}

.homepage img{
	width: 100%;
	border-radius: 200px;
}

.gallery img{
	width: 100%;
	border-radius: 15px;
}

.gallery img:hover{
	transform: scale(1.1);
	transition: all .3s ease-in-out;

}

.fgallery img{
	width: 100%;
	border-radius: 15px;
}

.fgallery img:hover{
	transform: scale(1.1);
	transition: all .3s ease-in-out;

}

.menu {
	display: block;

}

.menu a {
	display: block;
	font-family: "loos-normal", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.button1 {
	border: 5px solid #4378FF;
	background: white;
	padding: 10px 20px;
	width: 300px;
	height: 100px;
	text-align: left;
	border-radius:20px ;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #4378FF;
	text-decoration: none;
	font-family: "loos-normal", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.button1:hover {
	transform: scale(1.05);
	transition: all .3s ease-in-out;
	box-shadow: -10px 5px 3cpx #4378FF;
	position: relative;
	bottom: 10px;

}

.button2 {
	border: 5px solid #4378FF;
	background: white;
	padding: 10px 20px;
	width: 250px;
	height: 75px;
	text-align: left;
	border-radius:20px ;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #4378FF;
}

.button2:hover {
	transform: scale(1.05);
	transition: all .3s ease-in-out;
	box-shadow: -10px 5px 3cpx #4378FF;
	position: relative;
	bottom: 10px;

}

.button3 {
	border: 5px solid #4378FF;
	background: white;
	width: 100px;
	height: 50px;
	padding: 5px;
	padding-left: 15px;
	text-align: left;
	border-radius:5px ;
	font-size: 15px;
	font-weight: bold;
	color: #4378FF;
	margin-bottom: 25px;
}

.button3:hover {
	transform: scale(1.05);
	transition: all .3s ease-in-out;
	box-shadow: -10px 5px 3cpx #4378FF;
	position: relative;
	bottom: 10px;

}

.button4 {
	border: 5px solid #4378FF;
	background: #4378FF;
	padding: 10px 20px;
	width: 250px;
	height: 75px;
	text-align: left;
	text-decoration-color: white;
	border-radius:20px ;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#windowbox {
	margin-left: 20px;
	border-style: solid;
	border-width: 7px;
	border-color: #4378FF;
	background-color: white;
	padding: 50px ;
	width: 1000px;
	border-radius: 20px;
	margin-bottom: 20px;
	position: relative;
}

#main img {
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 30px;

}

#main video {
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 30px;
	border-style: solid;
	border-color: #4378FF;
	border-width: 5px;

}
#main2 img {
	width: 50%;
	height: auto;
	padding: 20px;
	border-radius: 30px;

}

#windowbox p {
	font-size: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "poppins", sans-serif;
	font-weight: 400;

}



#windowbox2 {
	border-style: solid;
	border-width: 5px;
	border-color: #4378FF;
	background-color: white;
	padding: 50px ;
	width: 300px;
	border-radius: 20px;
	height: 100px;
	margin-bottom: 20px;
	
}

#windowbox3 {
	border-style: solid;
	border-width: 5px;
	border-color: #4378FF;
	background-color: white;
	padding: 10px 20px ;
	padding-top: 30px;
	width: 300px;
	border-radius: 20px;
	height: 200px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	color: #4378FF;
	
	
}

#windowbox3 img {
	width: 85px;
	height: 85px;
	margin-top: 25px;
	position: relative;
	right: 10px;
}

#windowbox3 a {
	display: inline-block;
}

input {
	height: 50px;
	margin-bottom: 25px;
	width: 100%;
}

form {
	background: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

textarea {
	height: 400px;
	margin-bottom: 25px;
	width: 100%;
}

form input, form textarea {
		border-style: solid;
		border-width: 3px;
		padding: 20px;
		border-color:#4378FF ;
		font-size: 14px;
}

form button {
	padding: 15px;
	background: #4378FF;
	color: white;
	font-size: 20px;
	outline: none;
	width: 100%;
	font-family: "loos-normal", sans-serif;
	font-weight: 600px;
}

p {
	font-family: "poppins", sans-serif;
	font-weight: 400;
}

 h1{
 	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	font-size: 30px;
	color: #4378FF;
	font-family: "loos-normal", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
 font-size: 3em;
 color:#4378FF ;
 margin-bottom: 50px;
 text-align: center;
 font-family: "loos-normal", sans-serif;
font-weight: 700;
font-style: normal;
}

h3 {
	font-family: "poppins", sans-serif;
	font-weight: 700;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#4378FF ;
}

}

h4 {
font-size: 30px;
 color:#4378FF ;
 margin-top: 50px;
 margin-bottom: 50px;
 font-family: "loos-normal", sans-serif;
font-weight: 700;
font-style: normal;

}
 

a {
	text-decoration: none;
}

a:visited { 
  text-decoration: none;
  color: inherit; 
} 

.mobilemenu {
	display: none;
}



@media only screen and (max-width: 768px) {

	.mobilemenu {
		display: revert;

}


.menu {
	display: none;


}

.button2 {
	display: none;
}

.button4 {
	display: none;
}

.button 3 {
	margin-bottom: 20;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: white;
  box-shadow: blue;
  position: fixed;
  width: 100%;
  z-index: +3;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #4378FF;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #4378FF;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-image: url('Images2/Hamburger_icon.png');
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #4378FF;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
  border-color: #4378FF;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
}